[Unit]
Description=Check the public IPv4 for the Porkbun records every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
